* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: aliceblue;
}

.hero {
    height: auto;
    width: 100%;
    background: url("https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L2lzMTYwNjItaW1hZ2Uta3d2eWZrd3IuanBn.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 140px 0;
margin-bottom: 20px;
margin-bottom: 20px;
}


header{
    width: 100%;
    height: 70px;
    background-color: black;
    color: azure;
    display: flex;
    align-items: center;

}

.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-ul-li {
    list-style: none;
    display: inline;
}

.logo {
    font-size: 30px;
}

.hero-h1{
    font-size: 39px;
    margin-bottom: 10px;
    align-items: center;
}

.hero-p {
    font-size: 20px;
    margin-bottom: 10px;
}

.search-box {
    max-width: 550px;
    margin: 15px 0;
    display: flex;
}

.search-box-input {
    width: 70%;
    padding: 10px;
    outline: none;
    border: 1px solid black; /* Added border style */
    border-radius: 15px 0 0 15px; /* Corrected border-radius */
    font-size: large;
}

.search-box-button {
    padding: 10px;
    outline: none;
    border: 0;
    border-radius: 0 5px 5px 0;
    font-size: 1rem;
    color: blue;
    /* Corrected spelling of "correct" */
}

.recipe{
padding: 50px o;

}
.recipe-section {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 5px;
}

.recipe-section-h1 {
    margin-bottom: 30px;
    font-size: 28px;
    text-align: center;
}

.recipe-card {
    background-color: white;
    margin: 30px 10px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0.4px 8px rgba(92, 32, 32, 0.5); /* Corrected box-shadow */
    
}

.recipe-card-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.recipe-card-h1 {
    font-size: 22px;
    padding: 23px;
}

.recipe-card-p {
    font-size: 18px;
    padding: 20px;
}

.recipe-card-a {
    display: block;
    text-align: center;
    text-decoration: none;
    background: #333;
    color: rgba(190, 54, 54, 0.329);
     /* Added text color */
     cursor: pointer;
     padding: 15px 0;
}
footer{
    background: #333;
    padding: 20px 0;
    color:white;
    text-align: center;
}
.menu-icone{
    font-family: 22px;
    padding: 20px;

}


